<meta charset="UTF-8" />
<div class="row animated fadeInRight">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title navy-bg">
				<h5>网站数据统计 </h5>
				<div ibox-tools></div>
			</div>
			<div class="ibox-content white-bg">
				<div class="row animated fadeInRight">
					<div class="col-sm-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title navy-bg">
								<h5>主要用户数据分析</h5>
							</div>
							<div class="ibox-content gray-bg">
								<div class="row">
									<div class="col-md-4">
										<div class="table-responsive">
											<table class="table table-condensed">
												<thead>
													<tr class="table-striped">
														<th style="word-break: keep-all; white-space: nowrap;">主要指标</th>
														<th style="word-break: keep-all; white-space: nowrap;">当月数据</th>
														<th style="word-break: keep-all; white-space: nowrap;">环比增长</th>
														<th style="word-break: keep-all; white-space: nowrap;">同比增长</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>注册人数</td>
														<td>{{ draw1Data.regMount }}</td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.reg_rateM.indexOf('-')>=0]">{{ draw1Data.reg_rateM }}</span></td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.reg_rateY.indexOf('-')>=0]">{{ draw1Data.reg_rateY }}</span></td>
													</tr>
													<tr>
														<td>绑定汇付人数</td>
														<td>{{ draw1Data.hfMount }}</td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.hf_rateM.indexOf('-')>=0]">{{ draw1Data.hf_rateM }}</span></td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.hf_rateY.indexOf('-')>=0]">{{ draw1Data.hf_rateY }}</span></td>
													</tr>
													<tr>
														<td>投资人数</td>
														<td>{{ draw1Data.invtMount }}</td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.invt_rateM.indexOf('-')>=0]">{{ draw1Data.invt_rateM }}</span></td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.invt_rateY.indexOf('-')>=0]">{{ draw1Data.invt_rateY }}</span></td>
													</tr>
													<tr>
														<td>活跃人数</td>
														<td>{{ draw1Data.hyMount }}</td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.hy_rateM.indexOf('-')>=0]">{{ draw1Data.hy_rateM }}</span></td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.hy_rateY.indexOf('-')>=0]">{{ draw1Data.hy_rateY }}</span></td>
													</tr>
													
													<tr>
														<td>投资金额</td>
														<td>{{ draw1Data.invtAmt }}</td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.invtAMT_rateM.indexOf('-')>=0]">{{ draw1Data.invtAMT_rateM }}</span></td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.invtAMT_rateY.indexOf('-')>=0]">{{ draw1Data.invtAMT_rateY }}</span></td>
													</tr>
													<tr>
														<td>充值金额</td>
														<td>{{ draw1Data.recharge }}</td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.hy_rateM.indexOf('-')>=0]">{{ draw1Data.recharge_rateM }}</span></td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.hy_rateY.indexOf('-')>=0]">{{ draw1Data.recharge_rateY }}</span></td>
													</tr>
													<tr>
														<td>充值笔数</td>
														<td>{{ draw1Data.rechargeCnt }}</td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.rechargeCnt_rateM.indexOf('-')>=0]">{{ draw1Data.rechargeCnt_rateM }}</span></td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.rechargeCnt_rateY.indexOf('-')>=0]">{{ draw1Data.rechargeCnt_rateY }}</span></td>
													</tr>
													<tr>
														<td>提现金额</td>
														<td>{{ draw1Data.withdraw }}</td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.withdraw_rateM.indexOf('-')>=0]">{{ draw1Data.hy_rateM }}</span></td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.withdraw_rateY.indexOf('-')>=0]">{{ draw1Data.hy_rateY }}</span></td>
													</tr>
													<tr>
														<td>提现笔数</td>
														<td>{{ draw1Data.withdrwCnt }}</td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.withdrawCnt_rateM.indexOf('-')>=0]">{{ draw1Data.withdrawCnt_rateM }}</span></td>
														<td><span
															ng-class="{true:'label label-warning',false:'label label-primary'}[draw1Data.withdrawCnt_rateM.indexOf('-')>=0]">{{ draw1Data.withdrawCnt_rateY }}</span></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-md-8">
										<div id="chart1" style="height: 300px"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row animated fadeInRight">
					<div class="col-md-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title navy-bg">
								<h5>网站日流量统计</h5>
							</div>
							<div class="ibox-content gray-bg">
								<div id="chart3" style="height: 300px"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="row animated fadeInRight">
					<div class="col-md-6">
						<div class="ibox float-e-margins">
							<div class="ibox-title navy-bg">
								<h5>服务器状态统计</h5>
							</div>
							<div class="ibox-content gray-bg">
								<div id="chart2" style="height: 300px"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="ibox float-e-margins">
							<div class="ibox-title navy-bg">
								<h5>网站访问量统计</h5>
							</div>
							<div class="ibox-content gray-bg">
								<div id="chart4" style="height: 300px"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row animated fadeInRight">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title blue-bg">
				<h5>他她乐商城数据统计</h5>
				<div ibox-tools></div>
			</div>
			<div class="ibox-content white-bg">
				<div class="row animated fadeInRight">
					<div class="col-md-6">
						<div class="ibox float-e-margins">
							<div class="ibox-title blue-bg">
								<h5>内部访问量统计</h5>
							</div>
							<div class="ibox-content gray-bg">
								<div id="chart9" style="height: 300px"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="ibox float-e-margins">
							<div class="ibox-title blue-bg">
								<h5>CNZZ访问量统计</h5>
							</div>
							<div class="ibox-content gray-bg">
								<div id="chart6" style="height: 300px"></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row animated fadeInRight">
					<div class="col-md-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title blue-bg">
								<h5>APP流量统计</h5>
							</div>
							<div class="ibox-content gray-bg">
								<div id="chart7" style="height: 350px"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row animated fadeInRight">
					<div class="col-md-6">
						<div class="ibox float-e-margins">
							<div class="ibox-title blue-bg">
								<h5>服务器状态统计</h5>
							</div>
							<div class="ibox-content gray-bg">
								<div id="chart8" style="height: 300px"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="ibox float-e-margins">
							<div class="ibox-title blue-bg">
								<h5>APP统计</h5>
							</div>
							<div class="ibox-content gray-bg">
								<div id="chart5" style="height: 300px"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var pageload = function() {
		startDraw();
		toastr.options = {
			closeButton : true,
			progressBar : true,
			showMethod : 'slideDown',
			hideMethod : "slideUp",
			positionClass : "toast-top-center",
			timeOut : 4000
		};
		toastr.success('欢迎光临大数据', '大数据分析系统');
	}
</script>
